%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, []}.

{relx, [{release, { {{name}}, {git, short}}, [{{name}}]},
        {overlay, [{copy, "environment", "environment"}]},
        {dev_mode, false},
        {include_erts, false},
        {debug_info, keep},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true}]}.

{shell, [{apps, [{{name}}]},
         {env_file, "environment/dev.env"}]}.
